.container{
    width: 1280px;
    margin: 0 auto;
}
.block-title{
    display: inline-block;
    width: 292px;
    height: 74px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 45px;
}
.title{
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;;
    text-decoration: none;
       color: #000000;
    font-size: 80px;

}
.color-text {
    color: #4bcaff;
}
.navbar-top {
    display: inline-block;
    height: 70px;
    background-color: #35444f;
    margin-top: 40px;
}

.menu-top{
    text-align: center;
    display: inline-block;
}

.menu-top-item{
    color: #ffffff;
          font-size: 15px;
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    padding-top: 25px;
}
.press-btn-top{
    padding: 23px 40px 26px 40px;
    background: #222f3a;
    border: 1px solid transparent ;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb ;
}

.main-block {
    display: inline-block;
}
.left-block {
    width: 345px;
    height: 400px;
    border: 1px #dbdbdb solid;
    display: inline-block;
    vertical-align: top;
    margin-top: 100px;
             }
.left-menu{
    list-style: none;
    display: inline-block;

}
.left-menu-item{
font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 35px;
    color: #495863;
    text-align:left;
    display: inline-block;
    padding: 20px;
    }

.press-btn-left {
    color: black;
    background-color: #dbdbdb;
    border: 1px solid transparent;
    margin-left: 0;
    padding: 15px 50px;
    }

.right-block {
    width:885px;
    height: 530px;
    border: 1px #dbdbdb solid;
    display: inline-block;
    margin-top: 100px;
    margin-left: 40px;
    vert-align: top;
}
.block-img{
    width: 320px;
    height: 380px;
    margin-left: 300px;
    margin-top: 75px;
}
.text-block{
    margin-left: 430px;
    margin-right: 10px;
    margin-top: 50px;
    display: inline-block;
    line-height: 20px;
}
.text{
    font-family: sans-serif;
    text-align: left;
    padding:30px 0;
}

.navbar-buttom{
    height: 70px;
    background-color: #b4b7ba;
    display: inline-block;

}

.menu-buttom{
display: inline-block;
        list-style: none;
    text-align: left;
}
.buttom-menu-item{
    font-size: 20px;
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    margin-top:30px;
}

.blue-text{
    color: #3181a6;
    text-decoration: underline ;
}
.symbol{
    font-size: 18px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    padding-left: 220px;
}
