.background {
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
}

.main {
    color: yellow;
    font-size: 40px;
    position:fixed ;
    width: 850px;
    height: 100%;
    text-transform: uppercase;
    margin-left:400px;
    overflow: hidden;
    transform: perspective(150px) rotateX(30deg);
}

.text {
    position: relative;
    animation: text 30s linear;
    animation-iteration-count: infinite;
    margin-bottom: 40px;
}

@keyframes text {
    from {
        top:70%;
    }to {
    top:-100%;
         }
}