@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.background {
    background-image: url("../img/Layer 1@1X.png");
    background-size: cover;
    height: 1012px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.creative-block {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.logo-block {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 42px;
    height: 38px;
    background: #18cfab;
    position: relative;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding-left: 8px;
    margin-right: 15px;
}

.logo:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 15px solid #18cfab;
}

.logo:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 15px solid #18cfab;
}

.logo-name {
    font-size: 35px;
}

.creative-block-list {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #b8b8b8;
    margin-top: 55px;
}

.creative-slogan {
    margin-top: 246px;
    margin-left: 45px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.creative-block-item {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: #b8b8b8;
    text-align: right;
}

.creative-block-item:hover {
    color: #18cfab;
    border-bottom: 3px solid #18cfab;
    padding-bottom: 51px;

}

.slogan {
    color: #ffffff;
}

.slogan-top {
    text-transform: uppercase;
    font-size: 35px;
}

.slogan-middle {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 45px;
}

.slogan-button {
    font-size: 30px;
    font-family: "Courier New", sans-serif;
    margin-top: 37px;
}

.creative-buttons {
    margin-top: 142px;
}

.button-creative {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    padding: 25px 26px;
    border-radius: 5px;
    box-shadow: white;
}

.button-creative-left {
    background-color: #18cfab;
    margin-right: 28px;

}

.button-creative-right {
    background-color: #00cbf6;
}


.options {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 384px;

}

.option-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1c2a33;
    width: 480px;
    text-align: center;
}

.option-list-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    white-space: nowrap;
    margin-top: 55px;

}

.form1, .form3 {
    color: #18cfab;
    border-top: 7px solid #18cfab;
}

.form2, .form4 {
    background-color: #18cfab;
    color: #ffffff;
    border-top: 7px solid #ffffff;
}

.img-form {
    width: 130px;
    height: 95px;
    padding-left: 150px;
}

.services {
    margin-top: 82px;
    text-align: center;
}

.services-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #4e4e4e;
}

.services-border {
    width: 76px;
    height: 3px;
    border: 1px solid #18cfab;
    margin-top: 41px;
    transform: skewX(45deg);
    border-left: transparent;
    border-right: transparent;

}

.services-list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #f8fcfe;
}

.services-list-item {
    border: 1px solid grey;
    padding: 29px 50px;
    background-color: #f8fcfe;
    color: #959697;
    white-space: nowrap;
    position: relative;
}

.services-list-item:after {
    display: none;
    content: "";
    position: absolute;
    bottom: -16px;
    left: 43%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 16px solid #18cfab;
}


.services-list-item.active {
    background-color: #18cfab;
    border: 1px transparent;
}

.services-list-item.active:after {
    display: block;
}


.services-list-content {
    display: none;
}


.services-list-content.active {
    margin-top: 25px;
    display: block;
}

/*.services-flex {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.services-img {
    width: 194px;
    height: 139px;
    margin-right: 20px;
    float: left;
}

.purchase {
    background-image: url("../img/Layer 2@1X.png");
    height: 476px;
}

.purchase-block {
    text-align: center;
    margin-top: 101px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.purchase-block-item {
    font-family: 'Montserrat', sans-serif;
    padding-top: 128px;
    text-transform: uppercase;
    font-size: 40px;
}

.purchase-block-text {
    font-family: 'Montserrat', sans-serif;
    padding-top: 35px;
    color: white;
    font-size: 16px;
}

.purchase-block-button {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    padding: 25px 26px;
    border-radius: 5px;
    box-shadow: white;
    background-color: #18cfab;
    margin-top: 75px;
}

.amazing-block {
    background-color: #f8fcfe;
    text-align: center;
}

.amazing-block-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #4e4e4e;
    padding-top: 97px;
}

.amazing-block-border {
    width: 76px;
    height: 3px;
    border: 1px solid #18cfab;
    margin-top: 41px;
    transform: skewX(45deg);
    border-left: transparent;
    border-right: transparent;
}

.amazing-block-list {
    font-family: 'Montserrat', sans-serif;
    width: 609px;
    height: 58px;
    margin-top: 70px;
    display: flex;
    margin-left: 460px;

}

.amazing-block-image {
    margin-top: 71px;
    display: flex;
    flex-wrap: wrap;
}

.amazing-block-list-item.active {
    font-weight: bold;
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.amazing-form {
    display: none;
}

.amazing-form.active {
    display: block;
    position: relative;
}

.img-exclusive {
    width: 286px;
    height: 208px;
    background-color: #f8fcfe;
    border-top: 3px solid #18cfab;
    position: absolute;
    top: 0;
    opacity: 0;
}

.amazing-form-graphic:hover .img-exclusive-graphic {
    opacity: 1;
}

.amazing-form-web:hover .img-exclusive-web {
    opacity: 1;
}

.amazing-form-landing:hover .img-exclusive-landing {
    opacity: 1;
}

.amazing-form-word-press:hover .img-exclusive-word-press {
    opacity: 1;
}

.img-exclusive-item1, .img-exclusive-item2 {
    margin-top: 40px;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid #18cfab;
}

.img-exclusive-item2 {
    background-color: #18cfab;
}

.img-exclusive-slogan {
    font-size: 16px;
    font-weight: bold;
    color: #18cfab;
    text-transform: uppercase;
    margin-top: 30px;
}

.img-exclusive-text {
    margin-top: 13px;
    color: #afb0b1;
}

.amazing-block-list-item {
    border: 1px solid grey;
    padding: 20px 30px;
    background-color: #ffffff;
    color: #959697;
    white-space: nowrap;
}

.button-block {

}

.amazing-block-button {
    margin: 75px auto;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    padding: 25px 26px;
    background-color: #18cfab;
}

.spinner {
    display: none;
    width: 35px;
    height: 35px;
    margin: 5px auto;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-top-color: transparent;
    border-radius: 100%;

    animation: spin 1s infinite linear;
}

.spinner:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    top: -6px;
    left: 3px;
    border: 6px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

​
.img-more {
    display: flex;
    flex-wrap: wrap;
}

.img-more-item {
    height: 208px;
    width: 285px;
    background-color: #ffffff;
    text-align: center;
    display: none;
}

.news-block {
    background-color: #ffffff;
    text-align: center;
}

.news-block-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-top: 84px;
    color: #4e4e4e;
}

.news-block-border {
    width: 76px;
    height: 3px;
    border: 1px solid #18cfab;
    margin-top: 34px;
    transform: skewX(45deg);
    border-left: transparent;
    border-right: transparent;
}

.news-block-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
}

.news-block-items {
    margin-bottom: 45px;
    width: 263px;

}

.news-block-items-img {
    height: 208px;

}

.box {
    float: right;
    background-color: #203e38;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 68px;
    color: white;
    text-decoration: none;

}

.box:hover {
    background-color: #18cfab;
}

.news-block-text-item:hover {
    color: #18cfab;
}

.box-item {
    margin-bottom: 5px;
}

.news-block-text {
    background-color: #f8fcfe;
    text-align: left;
    padding-left: 16px;
    padding-bottom: 15px;
    color: #cdd0d1;
}

.news-block-text-item {
    font-size: 19px;
    font-weight: bold;
    color: #717171;
    padding-top: 10px;
    padding-bottom: 15px;
}

.one {
    background-image: url("../img/Layer47@1X.png");
}

.two {
    background-image: url("../img/Layer50@1X.png");
}

.three {
    background-image: url("../img/Layer51@1X.png");
}

.four {
    background-image: url("../img/Layer52@1X.png");
}

.five {
    background-image: url("../img/Layer53@1X.png");
}

.six {
    background-image: url("../img/Layer54@1X.png");
}

.seven {
    background-image: url("../img/Layer55@1X.png");
}

.eight {
    background-image: url("../img/Layer56@1X.png");
}


.slider-block {
    height: 851px;
    background-color: #1c2a33;
    text-align: center;
}

.slider-block-title {
    font-family: 'Montserrat', sans-serif;
    padding-top: 98px;
    color: white;
    font-size: 36px;
}

.slider-block-border {
    width: 76px;
    height: 3px;
    border: 1px solid #18cfab;
    margin-top: 31px;
    transform: skewX(45deg);
    border-left: transparent;
    border-right: transparent;
}

.news-block-quotes {
    width: 44px;
    height: 30px;
    margin-top: 73px;
}

.slider {
    margin-top: 70px;

}

.slider-block-items {
    display: none;
}

.slider-block-items.active {
    display: block;
}

.slider-block-text {
    font-family: 'Montserrat', sans-serif;
    width: 1092px;
    height: 46px;
    padding-bottom: 43px;
    color: #afb1b2;
}

.slider-block-member {
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 42px;
}

.slider-block-name {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #18cfab;
    font-size: 16px;
}

.slider-block-position {
    font-family: 'Montserrat', sans-serif;
    color: #afb1b2;
    padding-top: 10px;
    font-size: 14px;
}

.main-photo-item {
    margin-top: 37px;
    width: 143px;
    height: 142px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 10px #18cfab;
}

.slider-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: 68px;
}

.slider-img-item {
    width: 62px;
    height: 61px;
    border: 1px solid #18cfab;
    border-radius: 50%;
}

.slider-img-item.active {
    margin-bottom: 25px;
}

.green {
    color: #18cfab;
    font-weight: bold;
}


