@import url('https://fonts.googleapis.com/css?family=Arimo');
.background {
    /*width: 1192px;*/
    /*height: 736px;*/
    height: 100vh;
    background-color: #3a4965;
    padding: 25px;
}

.main {
    border: 1px solid #e1e1e1;
    border-collapse:collapse ;
    width: calc(100% - 25px);
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    background-color: #fafafa;
    color: #969696;
}

th, td {
    border: 2px solid #e1e1e1;
}
td, tr {
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}

th:nth-child(even){
    font-size: 24px;
    }

th:nth-child(odd) {
    font-size: 30px;
}

.title {
    font-size: 18px;
    color: #484848;
    }

.first-title {
    padding: 55px 49px;
}

.category {
   vertical-align: middle;
    font-weight: bold;
    color: white;
}

.green {
    background-color: #89c331;
}

.red {
     background-color: #f04a56;
 }
.blue {
    background-color: #20807c;
}

.black {
    background-color: #484848;
}
.big-title {
    color: #484848;
    font-weight: bold;
}

.price{
    padding: 18px 33px;
}

.large-price {
    color: #484848;
    font-size: 60px;
    font-weight: bold;
    position: relative;
}

.small-price {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #484848;
}

.period-price {
    font-size: 18px;
    color: #484848;
}

.fas ,.far {
    margin-right: 12px;
}

.button {
    width: 192px;
    height: 49px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
}

.button:hover {
    border: 3px  solid slategrey;
    box-shadow: 8px 4px 4px grey, 8px 4px 4px darkslategray;
}

.light-grey {
    background-color:#f2f2f2 ;
}

.dark-grey {
    background-color: #e3e3e3;
}

.grey {
    background-color: #dddddd;
}

