.background {
    background-image: url("../img/rana-sawalha-364253-unsplash@1X.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-block {
    display: inline-block;
    width: 100%;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.top-block-left {
    display: inline-block;
    font-family: Verdana,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 870px;
}

.top-block-icons {
    display: inline-block;
}

.top-block-right-item{
    display: inline-block;
    margin-right:25px ;
}

.bg-ic_caledar_png {
    width: 19px;
    height: 19px;
    background: url('../img/css_sprites (2).png') -31px -10px;
}

.bg-ic_forum_png {
    width: 28px; height: 20px;
    background: url('../img/css_sprites (2).png') -110px -10px;
}

.bg-ic_journey_png {
    width: 20px; height: 20px;
    background: url('../img/css_sprites (2).png') -70px -10px;
}

.bg-line_png {
    width: 1px; height: 19px;
    background: url('../img/css_sprites (2).png') -10px -10px;
}

.bg-ic_caledarhover_png:hover {
    width: 19px; height: 19px;
    background: url('../img/spriteshover_png') -31px -10px;
}

.bg-ic_forumhover_png:hover {
    width: 28px; height: 20px;
    background: url('../img/spriteshover_png') -110px -10px;
}

.bg-ic_journeyhover_png:hover {
    width: 20px; height: 20px;
    background: url('../img/spriteshover_png') -70px -10px;
}

.bg-linehover_png:hover {
    width: 1px; height: 19px;
    background: url('../img/spriteshover_png') -10px -10px;
}

.top-block-text {
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: right;
}

.main-block{
    width: 444px;
    height: 630px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 60px auto;
    position: relative;
}

.but-theme{

}
.square{
    width: 18px;
    height: 18px;
    background:#3cb878 ;
    position: absolute;
    margin-top: 30px;
}

.active{
    display: block;
}

.but-theme-blue{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 15px;
    background-color:red;
    border-radius: 10px;
    border: 2px solid white;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.but-theme-red{
    padding: 15px;
    background-color: red;
    display: none;

}

.container{
    width: 322px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.follow-title{
    margin-top: 30px;
}

.follow-title-enter{
    display: inline-block;
    font-family: Verdana,sans-serif;
    font-size: 20px;
    text-align: left;
    color: #505050;
}

.follow-title-green{
    display: inline-block;
    font-family: Verdana,sans-serif;
    font-size: 14px;
    text-align: right;
    padding-left: 191px;
    color:#7dd0a5 ;
}

.social-contacts{
    display: inline-block;
    margin-top:25px ;
    margin-bottom: 25px;
}

.social-contacts-fb{
    display: inline-block;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    background-color: #305db8;
}

.social-contacts-google{
    display: inline-block;
    width: 157px;
    height: 46px;
    border-radius: 3px;
    background-color:#df4a32;
    margin-left: 4px;
}

.social-text-fb{
    font-family: Verdana,sans-serif;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    padding-left: 10px;
}

.social-contacts-img-fb{
    margin-left: 25px;
    vertical-align: middle;
    padding-right: 10px;
}

.social-contacts-img-fbline{
    display: inline-block;
}

.social-text-google {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    padding-left: 20px;
}

.social-contacts-img-google {
    margin-left: 13px;
    vertical-align: middle;
    padding-right: 10px;
}

.line-left{
    display: inline-block;
    width: 135px;
    color: #eaeaea;
    margin-top: 20px;
}

.line-right{
    display: inline-block;
    width: 135px;
    color: #eaeaea;
}

.text {
    padding-left: 13px;
    padding-right: 13px;
}

.userinfo-form{
    margin-top: 20px;
}

.userinfo-inputs{
    width: 100%;
    box-sizing: border-box;
    font-family: Verdana, sans-serif ;
    font-size: 14px;
    padding: 17px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    margin-bottom: 9px;
    color: #bebebe;
}

.shadow:focus {
    /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
    box-shadow: 5px 5px 4px rgba(0,0,0,0.4);
    font-weight: bold;
    text-decoration: #434343;
}

.userinfo-name{
    margin-bottom: 17px;
}

.usercheckbox {
    display: inline-block;
    margin-top: 18px;
}

.checkbox-text{
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.bottom-button{
    width: 100%;
    height: 46px;
    background-color: #3cb878;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 18px;
}


.green-text {
    color: #379a66;
}

.green:hover {
    color: #3cb878;
}

