
.container {
     width: 300px;
     height: 150px;
     background-color: aquamarine;
 }

.price-box {
    text-align: center;
    margin-left: 20px;
}

.inputprice {
    margin-top: 50px;
    margin-left: 20px;
    width: 200px;
    height: 20px;
    border:1px solid green;
}