.background {
    height: 100vh;
 background-image: url("../img/Medetsina-v-polshe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-block {
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 2px solid teal;
    border-radius: 5px;
    background-color: mediumaquamarine;
}

.logo {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.header-button {
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
   text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: teal;
   padding: 10px;

}

.border-block {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 500px;
    border: 2px solid teal;
    border-radius: 5px;
    margin-top: 100px;
}

.border-block-text{
    display: block;
    color: darkslategray;
}

.modal-div {
    width: 200px;
    max-height: 230px;
    background: mediumaquamarine;
}

.modal-form{

}

.modal-input {
    /*margin-top: 60px;*/

}

.card-wrap {
   display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    border: 2px solid darkcyan;
    border-radius: 5px;
    box-shadow: gray;
    position: relative;
}

.board-card-x{
    color: darkgreen;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.card-button {
    position: absolute;
    margin-left: 40px;
    bottom: 5px;
    padding: 5px;

}

.disactive {
    display: none !important;
}




